.origin {
    /* background-color: #F2EDEA; */
    height: 70x
}


.name-colour {
    color: blue;
}


.main-button-container {
  position: relative;
  display: inline-block;
}
.main-button-background {
  background-color: #EB725A;
  width: 110px;
  height: 40px;
  border: none;
  color: #222; 
  font-size: 16px;
  cursor: pointer;
  position: relative; 
  z-index: 1; 
  font-family: 'Jockey One', sans-serif;
  /* text-transform: uppercase; */
  font-weight: normal;
}
.main-button-foreground {
  position: absolute;
  top: 3px;
  left: -5px;
  width: 100%;
  height: 100%;
  border: 1.5px solid black;
  background-color: transparent;
  transition: transform 0.3s ease;
  transform-origin: bottom right;
  z-index: 2; 
}
.main-button-container:hover .main-button-foreground {
  transform: rotate(-3deg); 
  transform-origin: bottom right;
}


ui {
  list-style: none;
  padding: 0px;
  margin: 6px;
  display: flex;
  align-items: center;
}
ui li {
  list-style: none;
  padding: 6px;
}


.top-active-button-container {
    position: relative;
    display: inline-block;
    margin-right: 20px; 
}
.top-active-button-container {
  position: relative;
  display: inline-block;
}
.top-active-button-background {
  background-color: transparent;
  width: 110px;
  height: 40px;
  border: 1.5px solid #EB725A;
  color: #222; 
  font-size: 16px;
  cursor: pointer;
  position: relative; 
  z-index: 1; 
  font-family: 'Jockey One', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
.top-active-button-foreground {
  position: absolute;
  top: 3px;
  left: -5px;
  width: 100%;
  height: 100%;
  border: 1.5px solid black;
  background-color: transparent;
  transition: transform 0.3s ease;
  transform-origin: bottom right;
  z-index: 2; 
}
.top-active-button-container:hover .top-active-button-foreground {
  transform: rotate(-3deg); 
  transform-origin: bottom right;
}


.top-pass-button {
    background-color: transparent;
    border: 1.5px solid #F2EDEA;
    /* border: none; */
    width: 110px;
    height: 40px;
    font-size: 16px;
    /* position: relative; */
    /* display: inline-block; */
    /* margin-right: 20px;  */
    font-family: 'Jockey One', sans-serif;
    text-transform: uppercase;
    transition: border-color 1s ease;
}
.top-pass-button:hover {
    background-color: transparent;
    border: 1.5px solid #EB725A;
}




.lesson-card {
  background-color: #fff;
  width: 300px;
  height: 270px; 
  /* border: 1px solid #ccc;  */
  border-radius: 3px;
  /* background-color: #fff;  */
  /* padding: 4px; */
  margin: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
  width: 298px;
  height: 56px;
  display: flex;
  border-radius: 2px;
  /* padding: 4px; */
  background-color: #F7DFCF;
  border: 1.5px solid #BEB4B2;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
}

.lesson-number {
  height: 20px;
  width: 40px;
  background-color: #763C31;
  color: white;
  padding: 2px 2px;
  margin: 14px 18px;
  font-family: 'Inter', sans-serif;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.5);
  /* border-radius: 5px; */
  /* font-weight: bold; */
  font-size: 14px;
}

.lesson-number-container {
  position: relative;
  display: inline-block;
}
.lesson-number-background {
  height: 20px;
  width: 40px;
  background-color: #763C31;
  color: white;
  padding: 2px 2px;
  padding-top: 3px;
  margin: 14px 18px;
  font-family: 'Inter', sans-serif;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.5);
  /* border-radius: 5px; */
  /* font-weight: bold; */
  font-size: 14px;
}
.lesson-number-foreground {
  position: absolute;
  top: 18px;
  left: 15px;
  /* left: -5px; */
  width: 44px;
  height: 22px;
  border: 1px solid black;
  background-color: transparent;
  z-index: 2; 
  transform: rotate(-3deg);
}

.label {
  height: 20px;
  width: 80px;
  background-color: #9BAD93;
  color: #fff; /*#333;*/
  margin: 14px 18px;
  padding-top: 4px;
  /* padding: 5px 15px; */
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}

.content {
  margin-bottom: 20px;
}

.lesson-content {
  justify-content: space-between; 
  display: flex;
  gap: 1px
}

.lesson-title {
  text-align: left;
  padding-left: 20px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.lesson-desc {
  text-indent: 10px;
  text-align: justify;
  width: 150px;
  padding-left: 20px;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
}

.indent-paragraph {
  text-indent: 30px;
}

/* Стили для параграфа контента */
/* .content p { */
  /* font-size: 16px; */
  /* line-height: 1.5; Межстрочный интервал для удобочитаемости */
/* } */

.image-container {
  height: 133px;
  /* width: 113px; */
  text-align: right;
  margin-bottom: 10px;
  margin-right: 8px;
}

.image-container img {
  width: 113px;
  height: 1330px;
  max-width: 100%; 
  height: auto;
  border-radius: 5px; 
}

.skill-labels {
  /* font-size: 8px; */
  padding-left: 20px;
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.skill-label {
  /* width: 67px; */
  height: 12px;
  background-color: #EBF6F3;
  color: #000; 
  border: 1.5px solid #AABCB6;
  padding: 0px 5px;
  padding-top: 1px;
  border-radius: 6px;
  font-size: 8px;
}

.line-container {
  width: 300px;
  /* margin-bottom: 72px; */
  border-bottom: 2px solid #BEB4B2;
}

.footer {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; 
  /* align-items: center; */
}

.score {
  font-family: 'Inter', sans-serif;
  margin: 15px 0px;
  /* padding-top: 25px; */
  font-size: 12px;
  color: #000;
}


.banner-background {
  width: 820px;
  height: 210px;
  background: linear-gradient(to right, #F2EDEA, #EB725A); 
}


.phrase-container {
    background-color: #fff;
    border-radius: 7px;
    /* padding: 15px 0px; */
    width: 820px;
    margin: 20px 0px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.phrase-title {
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    text-align: center;
    /* margin-bottom: 15px; */
    color: #333;
}

.phrase-content {
    /* margin-top: 10px; */
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.phrase-text {
    text-align: left;
    /* flex: 1; */
    /* padding-right: 20px; */
}

.phrase-phrase {
    font-family: 'Joan', sans-serif;
    font-size: 46px;
    /* margin-bottom: 10px; */
}

.phrase-meaning,
.phrase-example {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #666;
    /* margin-bottom: 5px; */
}

.phrase-image {
    flex: 0 0 150px;               /* Картинка занимает фиксированную ширину */
    text-align: center;            /* Центрируем картинку */
}

.phrase-image img {
    max-width: 100%;                /* Картинка не выходит за пределы контейнера */
    height: auto;                   /* Сохраняем пропорции */
}